# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Project Data
data/
test/

# 認証情報
config/x.com_cookies.txt
config/*.txt

# 外部バイナリ
bin/
*.exe

# メディアコンテンツ
downloads/
media/